
.nav-con {
    background-color: #FFB733;
}

.nav-mine {
  background-color: #FFB733;
}

.nav-mine a {
    color: #000;
}

.act {
  background-color: #fff;
}

.jum {
  background-color: rgba(96, 168, 255, .8);
  text-align: center;
}

.well-mine{
  background-color: rgba(96, 168, 255, .3);
}

.but{
  background-color: #FFB733;
}

.btn-div .btn{
  margin: 0px 0px 10px 25%;
}

.lorem div {
  border: solid 1px #000;
  background-color: #FFB733;
}
